.bloglist-wrap{

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    // width: 90%;
    height: auto;
    margin: auto;
    box-sizing: border-box;
    margin-top: 50px;
    flex-direction: column;


}

.bloglist{
    gap:20px;
    width: 95%;
    margin: auto;
    


.search{
   
    
    // width: 90%;
    margin: auto;
    margin-top: 50px;



   .search-input{
        border-radius:10px ;
        -webkit-border-radius:10px ;
        -moz-border-radius:10px ;
        -ms-border-radius:10px ;
        -o-border-radius:10px ;
       

        padding: "10px";
        width: 100%;
         text-align: left;

         border: 1px solid rgb(57, 57, 57);
         margin-bottom: 10px;
         box-sizing: border-box;

}
} 


.filter{

    display: flex;
    align-items: center;
    justify-content: flex-end ;
    gap: 10px;
}


}
